[submodule "laravel"]
	path = laravel
	url = https://github.com/Dzeikob/vueapi-back.git
	branch = master
[submodule "front"]
	path = front
	url = https://github.com/Dzeikob/vueapi-front.git
	branch = master
